h1 {
    text-align: center;
}

#top {
    background-color: yellow;
}

main header h2 {
    text-align: center;
}

input {
    height: 50px;
    width: 300px;
    margin: auto;
    display: block;
    font-size: 30px;
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

button {
    height: 20px;
    width: 80px;
}

/* .imageResults img {
    height: 
} */